<div class="body-content">
    {{#each rows}}
        <div class="container{{#if fullWidth}}-fluid{{/if}}">
            <div class="row {{cssClass}}" style="{{#if backgroundColor}}background-color: {{backgroundColor}}; {{/if}}{{#if paddingTop}}padding-top: {{paddingTop}}; {{/if}}{{#if paddingLeft}}padding-left: {{paddingLeft}}; {{/if}}{{#if paddingBottom}}padding-bottom: {{paddingBottom}}; {{/if}}{{#if paddingRight}}padding-right: {{paddingRight}}; {{/if}}">
                {{#each cells}}
                    <div class="col-sm-{{width}}">

                        {{#each blocks}}
                            <div class="block block-{{type}}">
                                {{#assign "blockLayout"}}blocks/{{type}}/default-{{type}}-block{{/assign}}
                                {{{include blockLayout}}}
                            </div>
                        {{/each}}

                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>
