{{#each rows}}
    <div class="row">
        {{#each cells}}
            <div class="col-sm-{{width}}">

                {{#each blocks}}
                    <div class="block block-{{type}}">
                        {{#assign "blockLayout"}}blocks/{{type}}/default-{{type}}-block{{/assign}}
                        {{{include blockLayout}}}
                    </div>
                {{/each}}

            </div>
        {{/each}}
    </div>
{{/each}}
